<html style="background:#263238;">
    <head>
        
    </head>
    <body style="color:#CFD8DC;">
        <h3 style="text-align:center;margin:0px;padding:0px;">Image Search Abstraction Layer</h3>
        <h6 style="text-align:center;margin:0px;padding:0px;">FreeCodeCamp Backend Basejump</h6>
        <br>
        <ol><h5 style="margin:0px;padding:0px;">User Stories:</h5>
        <li style="color:#ffeb3b;">I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
        <li style="color:#ffeb3b;">I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
        <li style="color:#ffeb3b;">I can get a list of the most recently submitted search strings.</li>
        </ol>
        <h5 style="margin:0px;padding:0px;">Example Image Search Usage:</h4>
        <code style="color:#ffeb3b;">https://kodamaimages.herokuapp.com/api/imagesearch/cute kitties</code><br>
        <code style="color:#ffeb3b;">https://kodamaimages.herokuapp.com/api/imagesearch/cute kitties?offset=5</code>
        <h5 style="margin:0px;padding:0px;">Result:</h4>
        <code style="color:#ffeb3b;">Result will be 10 google images either offset or not.</code>
        <h5 style="margin:0px;padding:0px;">Example of viewing latest queries:</h4>
        <code style="color:#ffeb3b;">https://kodamaimages.herokuapp.com/api/latest/imagesearch</code>
        <h5 style="margin:0px;padding:0px;">Result:</h4>
        <code style="color:#ffeb3b;">Result will be the query, offset and date display of the 10 latest searches.</code><br>
        <div style="text-align:center;">
        <a style="margin:0 auto;margin-top:20px;" href="http://codepen.io/WiseKodama/pens/public/" target="_blank"><img src="https://s29.postimg.org/3wl4voyx3/Logo_Kodama.png" width="30px;"></a>
        </div>
    </body>
</html>
                
