<html style="background:#263238;">
    <head>
        
    </head>
    <body style="text-align:center;color:#CFD8DC;">
        <h3 style="margin:0px;padding:0px;">Image Search Abstraction Layer</h3>
        <h6 style="margin:0px;padding:0px;">FreeCodeCamp Backend Basejump</h6>
        <h4>Results for: <%= resultTitle %></h4>
        <div><%- result %>
        </div>
    </body>
</html>
                
