<html style="background:#263238;">
    <head>
        
    </head>
    <body style="text-align:center;color:#CFD8DC;">
        <h3 style="margin:0px;padding:0px;">Image Search Abstraction Layer</h3>
        <h6 style="margin:0px;padding:0px;">FreeCodeCamp Backend Basejump</h6>
        <h4>Results for: <%= resultTitle %></h4>
        <div><%- result %>
        </div><br>
        <a style="margin:0 auto;" href="http://codepen.io/WiseKodama/pens/public/" target="_blank"><img src="https://s29.postimg.org/3wl4voyx3/Logo_Kodama.png" width="30px;"></a>
    </body>
</html>
                
